#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1024px;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
}

.row.add {
  justify-content: center;
}

.row.add,
.row.info {
  border: none;
}

.col {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

button {
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
  border: none;
}

button.set {
  background-color: #3b792b;
}

button.get {
  background-color: #157fc5;
}

button.remove,
button.clear {
  background-color: #e4380d;
}

button.info {
  background-color: #40bcc0;
}

input, textarea {
  border: 1px solid #d5d5d5;
}

input {
  height: 31px;
}
